h1, h2 {
    text-align : center;
    margin : 30px 0px 20px 0px;
}

body {
    width : 800px;
    margin : 10px auto 0px auto;
	line-height: 150%;
}

.importantInfo {
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
}

.info {
	font-family: "Times New Roman", Times, serif;
    padding : 0px;
    margin : 0px 0px 0px 1.0cm;
}

#header {
    float: left;
    width: 490px;
    text-align: center;
    margin : 5px 0px 0px 0px;
    padding : 0px;
}

.header_p {
    margin : 0px;
    padding : 3px;
}

#clinicName {
    font-size:1.2em;
    font-weight : 700;
}

#investigation_select {
    display:none;
}

#investigation_result_textarea {
	display : inline-block;
	width : 760px;
}

.editable {
    background: #F2F2F2;
    display: inline-block;
    width : 16.5em;
    height: 16px;
    line-height: 1;
    padding: 5px;
    text-indent: 1px;
	border-color: #bebebe;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px #dbdbdb,inset 0 -1px 0 #e9e9e9;
}

.edit_image {
    display : inline-block;
}

#save_result_div {
    position : fixed;
	left : 50px;
	top : 140px;
}

#save_result_text{
	color : #53B0E7;
}

#save_result_image{
	vertical-align : middle;
}

.edit_image:hover, #save_result_image:hover{
    cursor : pointer;
}

#save_result_text:hover{
	cursor : pointer;
	color : #7FCCE7;
}