.patients { width: 100%; empty-cells: hide; border-spacing:0; border-collapse:collapse; font-size: 13px; }

.patients td a { display: block; width: 100%; height: 100%; color: #3C3A37; text-decoration: none; padding: 5px;}
.patients tr:hover a { color:#330099;}

.patients td:nth-child(1) { width: 50px; } /* id */
.patients td:nth-child(4), .patients th:nth-child(4) { width: 130px; } /* cnp */
.patients td:nth-child(2), .patients td:nth-child(3) { width: 150px; } /* nume, prenume */
.patients td:nth-child(6), .patients th:nth-child(6) { width: 250px; }
.patients td:nth-child(5) { width: 60px; } /* sex */

.patients td:nth-child(4), .patients th:nth-child(4), .patients td:nth-child(5), .patients th:nth-child(5), .patients td:nth-child(7), .patients th:nth-child(7) {  text-align: center; }

.patients td:nth-child(1), .patients td:nth-child(4), .patients td:nth-child(2), .patients td:nth-child(6), .patients td:nth-child(3), .patients td:nth-child(5), .patients td:nth-child(7) { border-left: 1px solid #F1F1F1; border-right: 1px solid #F1F1F1; }

.patients tr:hover > td { border: 1px solid #99FFFF; }
.patients tr:hover > td { background-color:#99FFFF; }
.patients tr:nth-child(2n+3):hover > td { background-color:#99FFFF; }

.patients tr:hover > td:nth-child(2) { text-decoration: underline; }
.patients tr:nth-child(1), .patients tr:nth-child(n) { text-align: left; border-bottom: 1px solid #F0F0F0; }

.patients tr > td {
	background-color: #FFFFFF;
	-o-transition:background-color .4s ease-out;
	-ms-transition:background-color .4s ease-out;
	-moz-transition:background-color .4s ease-out;
	-webkit-transition:background-color .4s ease-out;
	/* ...and now override with proper CSS property */
	transition:background-color .4s ease-out;
}

.patients tr:nth-child(2n+3) > td { 
	background-color: #F0F0F0;
	-o-transition:background-color .4s ease-out;
	-ms-transition:background-color .4s ease-out;
	-moz-transition:background-color .4s ease-out;
	-webkit-transition:background-color .4s ease-out;
	/* ...and now override with proper CSS property */
	transition:background-color .4s ease-out;
 }

.hand {cursor: hand; cursor: pointer; color:#726f66;
	-o-transition:color .4s ease-out;
	-ms-transition:color .4s ease-out;
	-moz-transition:color .4s ease-out;
	-webkit-transition:color .4s ease-out;
	/* ...and now override with proper CSS property */
	transition:color .4s ease-out;
}

.hand:hover {color:red;}

#add_new_patient { }

#tags span.tag{  
    display:block; 
	margin: 0 3px 3px 0; 
	padding:3px 20px 4px 8px;  
    position:relative; 
	float:left; 
	background-color:#eee;
    border:1px solid #333; 
	-moz-border-radius:7px;  
    -webkit-border-radius:7px; 
	border-radius:7px; 
	color:#333;  
    font-size: 12px;
}  
#tags span.tag a {  
    position:absolute; 
	top:2px; 
	color:#666;  
    font-size: 12px;
	text-decoration:none; 
	margin-left: 5px;
}  
#tags span.tag a:hover { color:#F00; }  