#header, #footer { display:none;}
#content { background: none; }

h1, h2 {
    text-align : center;
    margin : 30px 0px 20px 0px;
}

body{
	margin : 0;
	font-size: 16px;
}

.importantInfo {
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
}

.info {
	font-family: "Times New Roman", Times, serif;
    padding : 0px;
    margin : 0px 0px 0px 50px;
}

#header_div {
    float: left;
    width: 490px;
    text-align: center;
    margin : 5px 0px 0px 0px;
    padding : 0px;
}

.header_p {
    margin : 0px;
    padding : 3px;
}

#clinicName {
    font-size:1.2em;
    font-weight : 700;
}

#investigation_result_div{
	margin-left : 35px;
	width : 780px;
}

.printButton{
    position : fixed;
	top : 20px;
	left : 20px;
}

.thumbnail{
	margin : 0px auto 20px auto;
	border: 1px solid #E0E0E0;
}

@media print{
	.printButton{
		display : none;
	}
	
	body{
		margin : 0;
	}
	
	.left{
		border : 0;
	}
	
	#header_div{
		margin : 0;
	}
}