{% extends 'base.html' %}

{% block Title %} Pacienti {% endblock %}

{% block Content %}
	<section id="ajax_section">
		<img src="resources/images/ajax-loader.gif" style="margin-left:auto; margin-right:auto; display:block;" alt="Loading"/>
	</section>
	<br />
	<div id="page_controls">
		<div id="pages" style="float: left;">
			<div class="button hfirst left" onclick="$.prevPage();">&laquo;</div>
			<span id="pages_click"></span>
			<div class="button hlast left" onclick="$.nextPage();">&raquo;</div>
			<img id="load_circle" src="resources/images/ajax-load.gif" style="margin-left:auto; margin-right:auto; display:none;"/>
		</div>
		<div id="ssp" style="float: right;">
			<span id="currentlyShowing" style="margin-right: 50px;"></span>
			Arata 
			<select id="pager" onchange="changeItems(parseInt($(this).val()));" style="">
			
			</select>
			(de) intrari
		</div>
	</div>
	<div id="add_new_patient" style="clear: both;">
		<h4>Adauga un pacient nou</h4>
		<hr />
		<form action="resources/scripts/phpscripts/new_patient.php" method="post" id="addPatientForm">
			<table>
				<tr>
					<td>Nume:</td>
					<td><input type="text" name="lastname" /></td>
				</tr>
				<tr>
					<td>Prenume:</td>
					<td><input type="text" name="firstname" /></td>
				</tr>
				<tr>
					<td>CNP:</td>
					<td><input type="text" name="cnp" /></td>
				</tr>
			</table>
			<input type="submit" value="Adauga" class="btn" />
		</form>
	</div>
{% endblock %}

{% block Bottom %}
	{{ parent() }}
	<script type="text/javascript" src="resources/scripts/jscripts/utils.js"></script>
	<script type="text/javascript" src="resources/scripts/jscripts/jquery.spager.js"></script>
	<script type="text/javascript">
		$("#patients").spager({
                    
 //                   items:    {{ sort.po }},
                    ctrls:    "page_controls",
                    opts:     [5,10,20,50],
                    other:    '',
                    idName:   "patients",
                    pageName: "patient.php"
                    });
		
		$(window).bind('hashchange', function() {

			newHash = window.location.hash.substring(2);
			if (window.location.hash[1] != "#" || newHash.length == 0){
				$.schimbaPg(null);
				return;
			}

			var parametri = {};
			var vect = newHash.split('&');
			vect.forEach (function(par) {
							var per = par.split('=');
							parametri[per[0]] = per[1];
						});
			console.log(vect);
			console.log(parametri);
			$.schimbaPg(parametri);

		});		
		$(window).trigger('hashchange');

		
		function changePage(t) {$.changeBy(t);}
		function changeItems(t) {$.changeNumber(t);}
	</script>
	<script type="text/javascript">
		$(function () {
			$.validator.addMethod("cnp", function(value, element) { return checkCNP(value); });
			$('#addPatientForm').validate({
				rules: {
					lastname: "required",
					firstname: "required",
					cnp: { required: true, digits: true, minlength: 13, maxlength: 13, cnp: true }
				},
				messages: {
					lastname: "Introdu numele pacientului",
					firstname: "Introdu prenumele pacientului",
					cnp: {
						required: "Introdu codul CNP al pacientului",
						digits: "Codul CNP contine doar cifre",
						minlength: jQuery.format("Codul CNP trebuie sa contina {0} cifre"),
						maxlength: jQuery.format("Codul CNP trebuie sa contina {0} cifre"),
						cnp: "Codul CNP nu este valid"
					}
				}
			});
		});
	</script>
{% endblock %}
