{% extends 'base.html' %}

{% block Title %}Cauta: {{ query }}{% endblock %}

{% block Content %}
	
	<h4 style="margin:0; padding:0;">Rezultate pentru pacienti: 
		<span>
			<a href="search.php?q={{ query }}&wt=record" class="hand" style="margin:0; padding:0; text-decoration:none;"> | Rezultate pentru fise:</a>
		<span>
	</h4>
	<hr /><br />
	<section id="ajax_section">
		<img src="resources/images/ajax-loader.gif" style="margin-left:auto; margin-right:auto; display:block;" alt="Loading"/>
	</section>
	<br />
	<div id="page_controls">
		<div id="pages" style="float: left;">
			<div class="button hfirst left" onclick="$.prevPage();">&laquo;</div>
			<span id="pages_click" ></span>
			<div class="button hlast left" onclick="$.nextPage();">&raquo;</div>
			<img id="load_circle" src="resources/images/ajax-load.gif" style="margin-left:auto; margin-right:auto; display:none;"/>
		</div>
		<div id="ssp" style="float: right;">
			<span id="currentlyShowing" style="margin-right: 50px;"></span>
			Arata 
			<select id="pager" onchange="changeItems(parseInt($(this).val()));" style="">
			
			</select>
			(de) intrari
		</div>
	</div>
{% endblock %}

{% block Bottom %}
	{{ parent() }}
	<script type="text/javascript" src="resources/scripts/jscripts/jquery.spager.js"></script>
	<script type="text/javascript">
		$("#patients").spager({
                    
                    ctrls:    "page_controls",
                    opts:     [5,10,20,50],
                    other:    "&q={{ query }}",
                    idName:   "patients",
                    pageName: "search.php"
                    });
		
		$(window).bind('hashchange', function() {

			newHash = window.location.hash.substring(2);
			if (window.location.hash[1] != "#" || newHash.length == 0){
				$.schimbaPg(null);
				return;
			}

			var parametri = {};
			var vect = newHash.split('&');
			vect.forEach (function(par) {
							var per = par.split('=');
							parametri[per[0]] = per[1];
						});
			console.log(vect);
			console.log(parametri);
			$.schimbaPg(parametri);

		});		
		$(window).trigger('hashchange');

		
		function changePage(t) {$.changeBy(t);}
		function changeItems(t) {$.changeNumber(t);}
	</script>
{% endblock %}