{% extends 'base.html' %}

{% block Title %}Cauta: {{ query }}{% endblock %}

{% block Content %}
	<div>
		<h4 style="margin:0; padding:0;"> Cautare avansata: </h4>
		<span> Introduceti tagurile dupa care doriti sa filtrati rezultatele: </span>
		<input type="text" name="tag" id="tag_input" />
		<form method = "get" action = "search.php" style = "display : inline-block;">
			<!--input type="button" value="Cauta" onclick="f();"/-->
			<input type="hidden" style="" name="tags" id="tags_hidden" onchange="f();"/>
		</form>
		
		<div id="tags"></div>
		<br/>
	</div>
	
	<br style="clear:both"/>
	<h4 style="margin:0; padding:0;"> 
		<span>
			<a href="search.php?q={{ query }}" class="hand" style="margin:0; padding:0; text-decoration:none;">Rezultate pentru pacienti: | </a>
		<span>
	Rezultate pentru fise:</h4>
	<hr/><br />
	<section id="ajax_section">
		<img src="resources/images/ajax-loader.gif" style="margin-left:auto; margin-right:auto; display:block;" alt="Loading"/>
	</section>
	<br />
	<div id="page_controls">
		<div id="pages" style="float: left;">
			<div class="button hfirst left" onclick="$.prevPage();">&laquo;</div>
			<span id="pages_click" style=" margin-left: 50px;"></span>
			<div class="button hlast left" onclick="$.nextPage();">&raquo;</div>
			<img id="load_circle" src="resources/images/ajax-load.gif" style="margin-left:auto; margin-right:auto; display:none;"/>
		</div>
		<div id="ssp" style="float: right;">
			<span id="currentlyShowing" style="margin-right: 50px;"></span>
			Arata 
			<select id="pager" onchange="changeItems(parseInt($(this).val()));" style="">
			
			</select>
			(de) intrari
		</div>
	</div>
{% endblock %}

{% block Bottom %}
	{{ parent() }}
	<script type="text/javascript" src="resources/scripts/jscripts/utils.js"></script>
	<script type="text/javascript" src="resources/scripts/jscripts/jquery.spager.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
			//prepare tag input
			initializeTagging();
		});

		$("#records").spager({
                    
                    ctrls:    "page_controls",
                    opts:     [5,10,20,50],
                    other:    "&q={{ query }}&wt=record",
                    idName:   "records",
                    pageName: "search.php"
                    });
		
		$(window).bind('hashchange', function() {

			newHash = window.location.hash.substring(2);
			if (window.location.hash[1] != "#" || newHash.length == 0){
				$.schimbaPg(null);
				return;
			}

			var parametri = {};
			var vect = newHash.split('&');
			vect.forEach (function(par) {
							var per = par.split('=');
							parametri[per[0]] = per[1];
						});
			console.log(vect);
			console.log(parametri);
			$.schimbaPg(parametri);
			
			//restore old tags
			old_tags = $.getHash("tags");
			$('#tags_hidden').val(old_tags);
			tag_list = old_tags.split(',').filter(Boolean);
			$('#tags').html('');
			
			for (i = 0; i < tag_list.length; i++){
				tag = tag_list[i];
				$('#tags').append("<span class='tag'>" + tag + "<a class = 'remove' href = 'javascript:' title = 'Remove " + tag + "'>x</a></span>");
			}
		});		
		$(window).trigger('hashchange');

		function f() {$.changeHash('tags',$('#tags_hidden').val());}
		function changePage(t) {$.changeBy(t);}
		function changeItems(t) {$.changeNumber(t);}
	</script>
{% endblock %}