{% extends 'base.html' %}

{% block Title %}Cauta: {{ query }}{% endblock %}

{% block Content %}
	<h4 style="margin:0; padding:0;"> 
		<span>
			<a href="search.php?q={{ query }}" class="hand" style="margin:0; padding:0; text-decoration:none;">Rezultate pentru pacienti: | </a>
		<span>
	Rezultate pentru fise:</h4>
	<hr/><br />
	{% include 'records_search_table.html' with {'records': records} %}
	<br />
	{% if records %}
	<div id="page_controls">
		<div id="pages" style="float: left;">
			<span class="hand" onclick="$.prevPage();" style="font-size: 22px; font-weight:bolder;" >&#8592; </span>
			<span class="hand" onclick="$.nextPage();" style="font-size: 22px; font-weight:bolder;" > &#8594;</span>
			<span id="pages_click" style=" margin-left: 50px;"></span>
		</div>
		<div id="ssp" style="float: right;">
			<span id="currentlyShowing" style="margin-right: 50px;"></span>
			Arata 
			<select id="pager" onchange="changeItems(parseInt($(this).val()));" style="">
			
			</select>
			(de) intrari
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block Bottom %}
	{{ parent() }}
	<script type="text/javascript" src="resources/scripts/jscripts/jquery.spager.js"></script>
	<script type="text/javascript">
		$("#records").spager({
                    
                    items:    {{ sort.po }},
                    ctrls:    "page_controls",
                    animate:  true,
                    opts:     [5,10,20,50],
                    offset:   {{ sort.offset }},
                    isLast:   {{ sort.isLast }},
                    ipp:      {{ sort.ipp }},
                    startPage:{{ pg }},
                    pageName: "search.php?q={{ query }}&wt=record&",
                    entries:  {{ entries }}
                    });
		function changePage(t) {window.location.href = 'search.php?q={{ query }}&wt=record&by=' + t;}
		function changeItems(t) {window.location.href = 'search.php?q={{ query }}&wt=record&po=' + t;}
	</script>
{% endblock %}