{% extends 'base.html' %}

{% block Title %} Conectare {% endblock %}

{% block ContentRight %}
	<h4>{{ user.email}}</h4>
	<hr />	
	<form action="resources/scripts/phpscripts/change_password.php" method="post" class="cmxform" id="passwordForm" autocomplete="off">
		<table>
			<tr>
				<td>Nume:</td>
				<td><input type="text" name="nume" id="nume" value="{{user.nume}}"/></td>
			</tr>
			<tr>
				<td>Prenume:</td>
				<td><input type="text" name="prenume" id="prenume" value="{{user.prenume}}"/></td>
			</tr>
			<tr>
				<td id="passText">Parola:</td>
				<td><input type="password" name="password" id="password" autocomplete="off"/></td>
			</tr>
			<tr class="passLines" style="display: none;">
				<td>Parola noua:</td>
				<td><input type="password" name="parola1" id="parola1"/></td>
			</tr>
			<tr class="passLines" style="display: none;">
				<td>Repeta parola:</td>
				<td><input type="password" name="parola2" id="parola2"/></td>
			</tr>
			<tr>
				<td>
					<label for="psc">Schimba parola:</label>
				</td>
				<td>
					<input type="checkbox" name="psc" id="psc" style="margin: 0px 0px 0px 30px;" />
				</td>
			</tr>
		</table>
		<input type="submit" value="Modifica datele" class="btn"/>
	</form>
{% endblock %}

{% block ContentLeft %}
	<a href="user.php"> 
		<img src="http://www.gravatar.com/avatar/{{ user.getEmailHash() }}?s=400" class="left" />
	</a>
{% endblock %}

{% block Bottom %}
	{{ parent() }}
<script type="text/javascript" src="resources/scripts/jscripts/valid.js"></script>
<script type="text/javascript" src="resources/scripts/jscripts/password.js"></script>
{% endblock %}